<!DOCTYPE html>
<html>
    <div id="backgroundimg"></div>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Work</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>

  <div id="backpagebox"></div>
  <div class="title">Designs</div>
  <div id="mainpagebox">
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/1281BRIDGEAVIONICSBL.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/BLADEModel1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/FEEDBINADD2BRICK1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/FEEDBINADD2SECTIONS1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/FEEDBINADD2WINDOW1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/GITLSCLUBFloorPlan10.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/Gohanhouse3dstruct40.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/HARRYPOTTTERROSEWIND.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/HILLTOP11.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/HILLTOP21.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/mon1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/mon21.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/SAPHIEELEV11.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/SAPHIEELEV21.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/SideHatchModel1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/sloan1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/SS90210INTLIAMSGARAG.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/efbSS90210INTLIAMSGARAG.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/1opsREFLECTIVECEILIN.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/03ICU10FLOORPLAN2017.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/03ICU11CEILINGPLAN20.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/90THIRDRAILDETAIL201.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/12790gELEVATOR111509.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/12790gELEVATOR201509.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/1281BRIDGEGLASSSCREE.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/TPBLP2072308Model1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/TPPBlock3FACADE31320.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/workshop3Layout11.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/workshopSECTIONS1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/dadset1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/3DView1.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/3DView2.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/3dView3.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/3DView5.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/rendertest.png">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/f3c3DView4.jpg">
    </a>
    <a>
      <img src="http://u.cubeupload.com/jsaylor23/f42BENCH1.png">
    </a>
  </div>
</body>

</html>