html {
    align-content: center;
    width: 100%;
}
.res1 a img, .res2 a img{
    width: 100%;
    position: relative;
    bottom: 700px;
    opacity: .9;
}
#bio {
    text-align: center;
}
#backgroundimg {
    width: 2500px;
    background-size: 100%;
    height: 5800px;
    position: absolute;
    opacity: .8;
    background-image: url("http://u.cubeupload.com/jsaylor23/GITLSCLUBFloorPlan10.png");
  }