<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contact</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
    <div id="backgroundimg"></div>

  <div id="backpagebox"></div>
  <div class="about">
    <p>Steven M. Saylor started his first architectural design company when he was 18 years old. At the time, he designed residential
      remodels, established a large client base, and developed positive working relationships with structural and civil engineers.
      After working in architectural design, Steven went on to work for a civil engineer, where he designed and provided
      construction documents for a wide range of projects. The projects included earthquake retrofitting of unreinforced
      brick buildings and hillside structures. In 1989, Mr. Saylor obtained his General Contractor License from the State
      of California and began operating a self-employed architectural and construction company. The firm quickly grew, with
      four employees, professional associations, and engineers, and focused on design and construction for over 700 projects.
      The projects included nation-wide residential remodeling, custom home designs, commercial projects, hillside design,
      and obtaining all necessary permits and approvals for new construction and remodels. In 1991, immediately after the
      infamous New York Street Fire on the backlot of Universal Studios, Steven joined MCA/Universal and began providing
      design and construction documents for what would become Brownstone Block. While still at MCA/Universal, Steven moved
      into the project manager position for the studio division where he oversaw coordinating design and construction documents
      with clients, architects, engineers, and all government agencies. Steven oversaw multiple responsibilities at MCA/Universal
      including the building of a 100,000 square foot high rise building with a 10-story parking structure and office space,
      maintaining, modernizing, and installing infrastructure projects, and slope stabilization. In 1994, Steven moved to
      a new project management position at 20th Century Fox, where he coordinated and supervised the design and construction
      documents for all phases of construction for a new Fox Broadcasting center. He also provided design for their new executive
      building and a new studio crafts building. Steven’s film, television, backlots, and commercial work currently consists
      of over 70 individual projects and over 400 episodes of television shows. While the first half of his design career
      involved pen and pencil projects, he moved into the digital media world in 2000 and is now proficient in both 2D and
      3D AutoCAD designs. Steven continues ongoing education and training to help further his career. Steven M. Saylor has
      over 28 years of experience working in construction, engineering, television, and film productions. His knowledge of
      State, county, and City building and fire codes has helped him get numerous complicated and challenging designs approved.
      He is well-respected in the film industry and highly sought after for his innovative designs and steadfast work ethic.</p>
    </div>
    <div class="lists">
    <h3>Some of Steven’s design projects have included:</h3>
    <ul>
      • Palaces and castles • Medieval dungeons • Prison cells and prison yards • Period sets • Contemporary police stations •
      Hospital intensive care units • Period steel-hull ships • Wooden pirate ships • Space crafts • Rustic cabin builds
    </ul>
    </div>
    <div class="conclusion">
    <p>
      His projects have taken him around the globe and he has completed work in Los Angeles, Nashville, Czech Republic, Mexico,
      South Africa, Atlanta, and Canada, just to name a few. For more information on projects and a current list of up-to-date
      work, contact Steven Saylor directly here.
    </p>
  </div>
  <div class="contactinfo">
    <ul>
      Cell: 661-400-3507</ul>
    <ul>
      Email: StevenMSaylor@gmail.com
    </ul>
  </div>
</body>

</html>